body {
  background: black;
}
/* * {
  border: 1px dashed red;
  min-height: 10px;
} */

.postcard {
  /* tus estilos van aquí */
  width: 400px;
  height: 300px;
  background: white;
  margin: auto;
}

.postcard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.postcard-header img {
  height: 50px;
  width: 50px;
}

.postcard-header h1 {
  width: 300px;
}

/* body section */

.postcard-body {
  display: flex;
}

.body-left p:first-child {
  margin-top: 0;
}

.body-left,
.body-right {
  padding: 1rem;
}

input {
  border: none;
  border-bottom: rgb(191, 190, 190) solid 1px;
  font-size: medium;
  padding: 0.5rem 0rem;
}

/* footer section */

.postcard-footer {
  text-align: center;
  background: white;
  padding: 1rem;
}

button {
  background-color: rgb(203, 201, 201);
  padding: 0.3rem;
  transition: background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: rgb(89, 89, 89);
}
